<%= render 'shared/page_title', title: "Log in" %>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
   <div class="form-group">
     <div class="control-label col-md-2">
       <%= f.label :email%>
     </div>
     <div class="col-md-8">
       <%= f.email_field :email, class: "form-control", placeholder: "Enter your email"%>
     </div>
   </div>
   <div class="form-group">
     <div class="control-label col-md-2">
       <%= f.label :password %>
     </div>
     <div class="col-md-8">
       <%= f.password_field :password, class: "form-control", placeholder: "Enter your password", outfocus: true%>
     </div>
   </div>
   <div class="form-grup">
     <div class="col-md-offset-2 col-md-10">
       <%= f.submit "Login", class: "btn btn-primary btn-lg btn-xlarge" %>
     </div>
   </div>
 </div>
<%end%>
<div class="center colormatch">
  [ Don't have an account, <%= link_to "Sign up now!", recipes_path%>]
</div>
