<%= render 'shared/errors', obj: @chef%>

<div class= "row">
 <div class= "col-md-12">
  <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %>
   <div class="form-group">
     <div class="control-label col-md-2">
       <%= f.label :chefname, "Name" %>
     </div>
     <div class="col-md-8">
       <%= f.text_field :chefname, class: "form-control", placeholder: "Enter your name", outfocus: true%>
     </div>
   </div>
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :email%>
       </div>
       <div class="col-md-8">
         <%= f.email_field :email, class: "form-control", placeholder: "Enter your email"%>
       </div>
     </div>
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :password %>
       </div>
       <div class="col-md-8">
         <%= f.password_field :password, class: "form-control", placeholder: "Choose a password", outfocus: true%>
       </div>
     </div>
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :password_confirmation, "Confirm Password" %>
       </div>
       <div class="col-md-8">
         <%= f.password_field :password_confirmation , class: "form-control", placeholder: "Confirm password", outfocus: true%>
       </div>
     </div>
     <div class="form-grup">
       <div class="col-md-offset-2 col-md-10">
         <%= f.submit(@chef.new_record? ? "Sign Up" : "Update",
         class: "btn btn-primary btn-lg btn-xlarge") %>
       </div>
     </div>
   </div>
  <%end%>
  <div class="col-md-4 col-md-offset-4 colormatch">
    [<%= link_to "Cancel request and return to recipes listing", recipes_path%>]
  </div>
 </div>
</div>
