<%= render 'shared/page_title', title: "Sign up for the application" %>

<div align="center">
  <%= will_paginate %>
</div>

<div align =  "center">
  <% @chefs.each do |chef |%>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <li><%= link_to gravatar_for(chef), chef_path(chef) %></li>
        <li class = "chef-title"><%= link_to chef.chefname.capitalize, chef_path(chef) %></li>
        <li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes%></small></li>
        <%if logged_in? && current_chef.admin? && !chef.admin?%>
        <li><%= link_to "Delete this chef", chef_path(chef), method: :delete,
          data: {confirm: "Are you want to delete this chef and all associated recipes "} %></li>
          <%end%>
      </div>
    </div>
  </ul>
  <% end %>
</div>

<div align="center">
  <%= will_paginate %>
</div>
