 <%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s profile" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 150%>
  </div>
</div>

<h4 align="center"><%= @chef.chefname%>'s recipes</h4>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>


<%= render 'recipes/recipe', obj: @chef.recipes %>

<div align="center">
  <%= will_paginate @chef_recipes %>
</div>
