<%= render 'shared/errors', obj: @recipe%>

<div class= "row">
 <div class= "col-md-12">
  <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
   <div class="form-group">
     <div class="control-label col-md-2">
       <%= f.label :name %>
     </div>
     <div class="col-md-8">
       <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", outfocus: true%>
     </div>
   </div>
     <div class="form-group">
       <div class="control-label col-md-2">
         <%= f.label :description%>
       </div>
       <div class="col-md-8">
         <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe "%>
       </div>
     </div>
     <div class="form-grup">
       <div class="col-md-offset-2 col-md-10">
         <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
       </div>
     </div>
   </div>
  <%end%>
  <div class="col-md-4 col-md-offset-4 colormatch">
    [<%= link_to "Cancel request and return to recipes listing", recipes_path%>]
  </div>
 </div>
</div>
