 <% obj.each do |recipe| %>
<div class="row">
  <div class="col-md-2">
    <section class=" chef-info  center">
      <%= gravatar_for(recipe.chef , size: 120) %>

    </section>
  </div>
  <div class="col-md-8 well">

    <h4><%=  link_to recipe.name, recipe_path(recipe) %></h4>
    <p><%= truncate(recipe.description, length: 150)%></p>
    <p>
    <span class="quite"><small>Created <%= time_ago_in_words(recipe.created_at)%></small> </span></p>
      <div class="recipe-actions">
        <%if logged_in? && ( current_chef == recipe.chef || current_chef.admin?) %>
        <%= link_to "Edit this recipe", edit_recipe_path(recipe), class: "btn btn-xs btn-warning"%>
        <%= link_to "Delete this recipe", recipe_path(recipe), method: :delete, data: { confrim: "Are you sure want to delete this recipe ?"}, class: "btn btn-xs btn-danger"%>
        <% end %>
      </div>
  </div>
</div>
<% end %>
<hr/>
