<%if obj.errors.any?%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= pluralize(obj.errors.count, "error")%>
            prohibited this <%= obj.class%> from being saved:
          </h3>
       <div class="panel-body">
         <ul>
         <% obj.errors.full_messages.each do |msg|%>
         <li><%= msg%></li>
         <%end%>
         </ul>
       </div>
     <div>
   </div>
 </div>
</div>
<%end%>
