$navbar-default-bg : #073815;

@import "bootstrap-sprockets";
@import "bootstrap";

.h1, h2 {
color: #000;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
color: #fff;
text-transform: none;
}

.center {
text-align: center;
}

.jumbotron {
  padding-top: 200px;
  background-image: url(asset_path("cover_image.jpeg"));
  background-size: cover;
  height: 600px;
}



.jumbotron h1, h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.row h2{
  color: #000;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073815;
}
.btn-xlarge:hover{
  background-color: #078222;
}

.a span{
  text-decoration-color: #fff;
}

body {
  height: 100%;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well a {
  color: #073815;
}

.chef-info {
  margin-top: 10px;
  margin-bottom: 10px;
}

.colormatch a {
  color: #073815;
}
.recipe-actions{
  padding-top: 5px;
  a {
   color:  #fff;
 }
}

.listing {
  list-style: none;
  padding-left: 0;
}
.chef-title {
  color: #073815;
  font-weight: bold;
  font-size: 1.25em;
}
