<!DOCTYPE html>
<html>
  <head>
    <title>Myrecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar'%>
    <%= render 'layouts/messages'%>
    <div class="container ">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
      </body>
  </body>
</html>
